.top{
    height: 100px;
    margin-top: 10px;
    background-color:white;
    .b{
        padding: 15px;
    }
}
.main{
    padding: 50px 0;
    background-color: rgb(109, 148, 231);
}

.inbo1{
    margin-top: 50px;
   
}
.button{
    height: 30px;
    background-color: white;
    width: 250px;
    text-align: center;
    margin-top: 20px;
    color: rgb(115, 171, 236);
}
.sec3
{
    background-color:white;
    /* height: 200px; */
    text-align: center;
    padding:50px 15px;
}
.h5{
    text-decoration: dashed;
}
.butn{
    text-align: center;
    border: 5px solid rgb(100, 195, 247);
    height: 30px;
    width: 150px;
    color:rgb(130, 199, 231);
    margin:auto;
    
}
.p{
    background-color: white;
    height: 2px;
    width: 60%;
    
}
.p1{
    background-color:black;
    height: 2px;
    width: 30%;
    margin: auto;
}
.sec4{
    background-color: rgb(127, 198, 243);
    padding: 100px 0;
}
.para{
    padding: 15px;
}
.inbo3{
    background-color: black;
    height: 50px;
}
.sec4{
    background-color:rgb(75, 117, 223);
    /* height: 300px; */
    padding:15px;

}
.inbo4{
    /* background-color: black; */
    color: white;
    text-align: center;

}
.h1{
    font-size: 15px;
    text-align: center;
    padding: 15px;
}
.img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    padding: 10px;
    border-color: white;
    border-style: solid;
}
.p1{
    background-color: white;
    height: 2px;
    width: 50%;
    
}
.sec5{
    background-color: black;
    padding-bottom: 50px;
    color: white;
    text-align: center;
}
.p{
    background-color: white;
    height: 2px;
    width: 60%;
}
.buttn{
    text-align: center;
    height: 30px;
    width: 250px;
    background-color: white;
  margin:auto;
  color:rgb(128, 166, 236) ;   
}
.sec6{
     background-color:white;
  padding: 30px 0;
    color: rgb(24, 23, 23);
    text-align:center;
}

.inbox{
    /* background-color: green; */
    min-height: 200px;
    margin-top: 20px;
  
}
.imges{
    width:100%;
    /* height: 200px; */
    
}
.sec7{
    background-color: rgb(39, 38, 38);
    /* height: 300px; */
    color: white;
    padding: 15px;
    text-align: center;
    padding: 50px 0;
}
.h{
    padding: 30px;
}
.bun{
    background-color: white;
    height: 30px;
    width: 250px;
    margin: auto;
    text-align: center;
    color: rgb(98, 124, 238);
    padding: 6px;
}
.x{
    padding: 15px;
}
.indo{
    background-color:rgb(192, 191, 191);
    height: 2px;
    width: 15%;
    margin: auto;
}
.sec8{
    background-color:white;
    height: 300px;
}
.pic{
    /* margin: auto; */
    text-align: center;
    padding: 15px;
}
.lastp{
    /* margin: auto; */
    text-align: center;
    padding: 20px;
}
.link{
    text-align: center;
}
   
@media(max-width:992px){
    .inbo,.inbo1{
        text-align: center;
    }
    .p{
        margin: auto;
    }
    .button{
        margin: auto;
    }
   .last{
    margin: auto;
   }
   .la{
    margin: auto;
   }
   .bun{
    margin: auto;
   }
    
}
@media(max-width:768){
    .inbo1{
        text-align: center;
        
    }
}

 .triangle-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid rgb(75, 117, 223);
    margin: auto;
}
    

 